/* Global Style */

:root {
    --titleFont: 'Woodstick';
    --titleFont2: 'Comfortaa';
    --textFont: 'Source';
    --textFont2: 'Pobeda Bold';
    --textFont3: 'Geologica';
    --textFont4: 'Tektur';
    --textFont5: 'Montserrat A';


    --boldFont: 'Montserrat';
    --buttonFont: 'Montserrat';
    --buttonFont: 'Montserrat';

    --buttonFont: 'Source';
    --buttonFont: 'Geologica';
    --buttonFont: 'Lineyka';
    --buttonFont: 'Montserrat A';
    --buttonFont: 'Comfortaa';
    --buttonFont: 'PlayB';
    --buttonFont: 'PlayR';
    --buttonFont: 'RussoOne';

    --linkFont: 'Lineyka';
    --buttonColor: 96361c;
    --titleColorDark: #96361c;
    --titleColorLight: wheat;
    --textColor: #9d121e;
    --tableColor: rgb(243, 255, 185);
    --textColor2: rgb(192, 182, 167);
    --textColorDark: rgb(6, 3, 30);
    --navTextDark: rgb(160, 160, 160);
    --navTextLight: rgb(92, 157, 255);


    /* --servicesBG: url('../images/bg/1-9.jpg'); */
    /* --portfolioBG:url('../images/bg/1-4.jpg'); */
    --sertificateBG: url('../images/bg/1-9.jpg');
    --jobExpBG: url('../images/bg/1.jpg');
    --aboutBG: url('../images/bg/1-9.jpg');
    --contactsBG: url('../images/bg/1-4.jpg');
    --footerBG: url('../images/bg/1-2.jpg');
    --lightBG: url('../images/bg/1-10.jpg');

    --titleBG: url('../images/bg/2-2.jpg');

    --subscribeModalBG: url('../images/bg/1-10.jpg');
    --portfolioModalBG: url('../images/bg/1-10.jpg');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/myFonts/Comfortaa.ttf');
}

@font-face {
    font-family: 'PlayB';
    src: url('/fonts/myFonts/Play/Play-Bold.ttf');
}

@font-face {
    font-family: 'PlayR';
    src: url('/fonts/myFonts/Play/Play-Regular.ttf');
}

@font-face {
    font-family: 'RussoOne';
    src: url('/fonts/myFonts/RussoOne-Regular.ttf');
}


@font-face {
    font-family: 'Tektur';
    src: url('/fonts/myFonts/Tektur-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: 'Pobeda Bold';
    src: url('/fonts/myFonts/Pobeda/pobeda-bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Pobeda Regular';
    src: url('/fonts/myFonts/Pobeda/pobeda-regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Source';
    src: url('/fonts/myFonts/SourceSans3-VariableFont_wght.ttf');
}


@font-face {
    font-family: 'DisneyPark';
    src: url('/fonts/myFonts/DisneyPark.ttf');
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/myFonts/Geologica.ttf');
}

@font-face {
    font-family: 'Lineyka';
    src: url('/fonts/myFonts/Lineyka.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/myFonts/Montserrat.ttf');
}

@font-face {
    font-family: 'Montserrat A';
    src: url('/fonts/myFonts/Montserrat Alternates.ttf');
}


@font-face {
    font-family: 'Woodstick';
    src: url('/fonts/myFonts/Woodstick.ttf');
}

body {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: var(--textFont4), Geneva, Tahoma, sans-serif, sans-serif;
}


html,
body {
    height: 100%
}

::selection {
    background-color: #f7639a;
    color: #ffffff;
}

::-moz-selection {
    background-color: #f7639a;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--boldFont), sans-serif;
    font-weight: bold;
    color: var(--titleColorDark);

}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

a {
    color: var(--titleColorDark);
}

.me-image {
    display: flex;
    justify-content: center;
}

.me-image>img {
    max-height: 500px;
    width: auto;
    border-radius: 8px;

    @media(max-width:400px) {
        width: 90%;
    }
}

a:hover,
a:active,
a:focus {
    color: #f7639a;
    text-decoration: none;
    outline: none;
}

p {
    line-height: 140%;
}

b {
    font-weight: 600;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.pink-color {
    color: #f7639a !important;
}

.pink-color-bg {
    background-color: #f7639a !important;
}



.section-title {
    /* background-image: var(--titleBG); */
    background: linear-gradient(270deg, #eca009b5, #eca009);
    border: 1px inset rgba(255, 166, 0, 0.275);
    text-align: center;
    padding-left: 50px;

    @media (max-width:800px) {
        margin-left: 0;
    }
}

.section-title .buttonx {
    width: 250px;
    ;
}

.section-title h2 {
    margin-top: 0;
    font-weight: 600;
    font-size: 30px;
}

.section-title p {
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 40px;
}

.bg-cover {
    background-repeat: no-repeat;
}

.pattern-bg {
    background: url(../images/bg/pattern-bg.png);
    background-repeat: repeat;
}

.grabbing {
    cursor: url(../images/owl-carousel/grabbing.png) 8 8, move;
}

.divider>i {
    color: orangered;
    font-size: 21px;
}

.divider {
    padding: 2px;
    position: relative;
    width: 126px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.divider:after,
.divider:before {
    content: ' ';
    width: 43px;
    position: absolute;
    border-bottom: dotted 2px #ffffff;
    top: 50%;
    margin-top: -4px;
}

.divider:before {
    left: 0;
}

.divider:after {
    right: 0;
}

.divider.dark:after,
.divider.dark:before {
    border-color: orangered;
}

.button {
    border: none;
    border-radius: 5px;
    font-family: var(--buttonFont);
    font-size: 17px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 20px 60px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button-style {
    border: 3px solid darkgray;
    border-radius: 12px;
    color: gray;
    background: #2d9cf651;
    text-align: center;

}

.button-style:hover,
.button-style:active,
.button-style:focus {
    color: #fafaf0;
    background: #2d9cf68b;
}



.button-my-style {
    border: 3px solid rgb(90, 83, 83);
    border-radius: 12px;
    color: rgb(47, 45, 45);
    padding: 0px 10px 0px 10px;
    background: #7c7f8171;
    box-shadow: 0px 6px 14px 0px rgba(90, 91, 95, 0.3);
    display: flex;
    align-items: center;
    padding: 10px 5px;
    line-height: normal;
    padding: 25px;

    @media(max-width:767px) {
        font-size: 12px;
    }


}

.button-my-style:hover,
.button-my-style:active,
.button-my-style:focus {
    color: #8d2506;
    background: #a4e522ad;
    border: 3px solid rgb(135, 3, 3);
    box-shadow: 0px 0px 14px 7px rgba(229, 210, 6, 0.43);

}



.button-style-color-2:hover,
.button-style-color-2:active,
.button-style-color-2:focus {
    color: #ffffff;
    background: #f7639a !important;
}

.button-style-dark {
    border: 3px solid #000000;
    color: #000000;
}



/* Preloader */

.preloader {
    background: #1e0000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.preloader p {
    position: absolute;
    top: 48%;
    left: 50%;
    text-align: center;
    font-size: 20px;
    color: var(--textColor2);
    font-family: var(--textFont);
}

.preloader:before,
.preloader:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: #4c9cef;
    animation: squaremove 1s ease-in-out infinite;
    -webkit-animation: squaremove 1s ease-in-out infinite;
}

.preloader:after {
    bottom: 0px;
    background-color: #f7639a;
    animation-delay: 0.3s;
}

@keyframes squaremove {

    0%,
    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        -o-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    25% {
        -webkit-transform: translate(40px, 40px) rotate(45deg);
        -ms-transform: translate(40px, 40px) rotate(45deg);
        -o-transform: translate(40px, 40px) rotate(45deg);
        transform: translate(40px, 40px) rotate(45deg);
    }

    50% {
        -webkit-transform: translate(0px, 80px) rotate(0deg);
        -ms-transform: translate(0px, 80px) rotate(0deg);
        -o-transform: translate(0px, 80px) rotate(0deg);
        transform: translate(0px, 80px) rotate(0deg);
    }

    75% {
        -webkit-transform: translate(-40px, 40px) rotate(45deg);
        -ms-transform: translate(-40px, 40px) rotate(45deg);
        -o-transform: translate(-40px, 40px) rotate(45deg);
        transform: translate(-40px, 40px) rotate(45deg);
    }
}



/* Home Section and Navigation Menu */

.home-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 300px;

    position: relative;
    overflow: hidden;
    background-color: #000;
    z-index: 0;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 10px 30px 10px 10px;

    @media (max-width:550px) {
        padding: 10px 10px 10px 10px;
    }
}


.home-section video {
    position: absolute;
    bottom: -0;
    left: 0;
    width: auto;
    height: 300px;
    z-index: -1;
}



.job-exp {
    /* background-image: var(--jobExpBG); */
    background-color: rgb(255, 248, 236);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.table {
    margin-bottom: 0px;
    border-collapse: separate;
    border-spacing: 3px;
    width: 400px;
    margin-bottom: 20px;
    margin: 10px 0;
}

.table a {
    color: var(--titleColorDark);
}

.table>tbody>tr>td {
    border: 3px inset #45444a1e;
    font-size: calc(7px + 0.4vw);
    border-radius: 4px;
    vertical-align: middle;
    line-height: 12px;
    padding: 10px;
    /* Выравнивание текста по центру по вертикали */


    @media(max-width:400px) {
        padding: 2px;
        border-radius: 2px;
    }
}


.table tr>td {
    padding: 5px 13px;
    height: 10px;
}

tr:nth-child(1)>td {
    border-top: 0px;
}

tr>td:nth-child(1) {
    background-color: #ffcc95;
    font-weight: 500;
    font-size: 13px;
    color: #87492a;
}

tr>td:nth-child(2) {
    font-weight: 500;
    color: var(--tableColor);
    background: #f9870ebe;
}

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    height: 60px;

    @media(max-width: 767px) {
        height: 40px;
        padding-top: 10px;
    }
}

.logo {
    padding-top: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 300px;
}

.logo a {
    display: block;
    color: #333333;
    letter-spacing: 6px;
    font-weight: 600;
    font-size: 14px;
    width: 92px;
}

.navigation-menu .navbar-nav li a {
    color: var(--navTextDark);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
}

.navigation-menu .navbar-nav li a:hover {
    background: none;
    color: #f7639a;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    color: #4c9cef;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.navigation-background {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #051059;
}

.navigation-background .logo {
    padding-top: 18px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-background .logo a {
    color: #ffffff;

}

.logo a {
    width: 230px;
    max-height: 40px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.navigation-background .navigation-menu .navbar-nav li a {
    color: var(--navTextLight);

    padding: 20px 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.navigation-background .navigation-menu .navbar-nav li a:hover {
    color: rgb(166, 196, 247);
}



/* Qualification and Experience */

.experience {
    padding: 0 50px 10px 80px;

    @media (max-width:820px) {
        margin-left: 60px;
        padding: 0 15px 10px 15px;
    }
}

.experience-item {
    position: relative;
    margin: 0 0 40px 0;
    transition: 0.3s;
}

.experience-circle {
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    border-radius: 100%;
    position: absolute;
    left: -60px;
    top: calc(50% - 60px);
    color: var(--titleColorDark);
    padding-top: 25px;

    background: linear-gradient(135deg, #eca0096b, #eca009);
    box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.25);

    transition: all 0.3s ease-in-out;
    border: 2px outset rgba(244, 144, 4, 0.6);
}







.experience-circle i {
    display: block;
    font-size: 40px;
}

.experience-company i {
    font-size: 40px !important;
    margin-top: 15px !important;
}

.experience-circle p {
    font-size: 11px;
    margin-top: 5px;
}

.experience-content {
    margin-left: 80px;
    position: relative;
    background: linear-gradient(135deg, #f8aa0d7c, #e19b29ce);
    border: 2px outset #ef78084a;
    border-radius: 15px;
    padding: 20px 25px;
    box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.2);

}


.experience-content h3 {
    margin: auto;
}



.experience-content:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 12px;
    margin-top: -20px;
}

.experience-content:before {
    border-color: rgba(238, 238, 238, 0);
    border-right-color: #f7639a;
    border-width: 16px;
    margin-top: -21px;
}

.experience-content p {
    color: var(--textColor);
    font-family: var(--textFont3);
}





/* About */

.about >p{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    line-height: 150%;
}

.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--maskAboutBG);
    z-index: -1;
}


.color-window {
    padding: 50px;
    background-color: #240578a4;

    box-shadow: -2px 40px 34px -24px rgba(0, 0, 0, 0.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 7px #4c9cef;
    border-left-color: #f7639a;
    border-right-color: #f7639a;
}

.color-window.contacts-window {
    background-color: #2405781f;


}

.color-window p:first-letter {
    font-size: 35px;
    color: #ffffff;
    background: #f7639a;
    padding: 0px 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 61px;
    margin-right: 5px;
}



/* Skills */

.my-skill strong,
.my-skill span {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 6px;
    display: inline-block;
}

.my-skill .progress {
    background: #dedede;
    border-radius: 10px;
    box-shadow: none;
    height: 12px;
    margin-bottom: 30px;
}

.my-skill .progress-bar-primary {
    background: #4c9cef;
}

.modal-body .btn {
    background-color: #f7639a;
    margin-top: -68px;
    position: relative;
    margin-right: -35px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: #ffffff;
    line-height: 39px;
    font-size: 20px;
    outline: 0;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    transition: all 0.3s ease-in-out;

}

.modal-dialog {
    display: flex;
    justify-content: center;
    width: 90%;


    @media(max-width: 992px) {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}



.modal-content {
    margin-left: 20px;
    margin: 0;
    padding: 0 10%;

    @media(max-width: 992px) {
        margin-top: 5%;
        width: 100%;
    }
}


.modal-content h2 {
    padding: 5px 10%;

    @media(max-width:992px) {
        font-size: 18px;
    }
}

.modal-body .btn:hover {
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    outline: 0;
}

.social-ico-modal img {
    width: 30px;
    height: 30px;
    margin: 3px 10px 3px 40px;
    border-radius: 30%;

    border: 2px outset rgba(175, 175, 175, 0.3);
    transition: 1s;

    box-shadow: 0px 0px 30px 0px #dde5033f;

    @media(max-width: 440px) {
        width: 20px;
        height: 20px;
    }
}




.social-ico-modal :hover {
    transform: scale(1.2);
    background-color: #d2d0d07f;
    transition: 0.2s;
    box-shadow: 0px 0px 20px 5px #dde503a3;
}



/* Subscribe */

.subscribe .modal-content {
    color: var(--titleColorDark);
    background: var(--subscribeModalBG);
    background-repeat: repeat;
    padding-left: 10%;
    padding-bottom: 40px;
    margin-top: 20%;
    font-size: 28px;
    line-height: 150%;

    @media(max-width: 800px) {
        padding-left: 15%;
        font-size: 18px;
    }

    @media(max-width: 440px) {
        padding-left: 0%;
        font-size: 13px;
    }
}



#mc-form {
    text-align: center;

}

.mc-label {
    font-weight: 400;
}

.subscribe-form {
    margin-bottom: 15px;
    position: relative;

}

.subscribe-form .text-input {
    padding: 20px;
    border-radius: 50px;
    border: solid 1px #ffffff;
    background: #4c9cef;
    color: #ffffff;
    width: 100%;
    font-size: 15px;
    outline: none;
}

.subscribe-form .text-input::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1;
}

.subscribe-form .text-input:-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}

.subscribe-form .text-input::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}

.subscribe-form .text-input:-ms-input-placeholder {
    color: #ffffff;
    opacity: 1;
}

.subscribe-form .text-input:focus::-webkit-input-placeholder {
    opacity: .5;
}

.subscribe-form .text-input:focus:-moz-input-placeholder {
    opacity: .5;
}

.subscribe-form .text-input:focus::-moz-input-placeholder {
    opacity: .5;
}

.subscribe-form .text-input:focus:-ms-input-placeholder {
    opacity: .5;
}

.subscribe-form .submit-btn {
    position: absolute;
    font-size: 18px;
    letter-spacing: 1px;
    color: #FFF;
    font-weight: 600;
    background: #f7639a;
    border: none;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50px;
    width: 150px;
    text-align: center;
    outline: none;
}

.subscribe-form .submit-btn:active {
    opacity: .8;
}



/* Portfolio */


.portfolio-block {
    display: block;
    justify-content: center;
    text-align: center;
    color: var(--titleColorDark);
}


.portfolio-modal .modal-content {
    background: var(--portfolioModalBG);
    background-repeat: repeat;
    line-height: 150%;
    height: 100%;
    padding: 0 30px;
}

.portfolio {
    /* background-image: var(--portfolioBG); */
    background-color: rgb(255, 248, 236);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.portfolio-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 8%;

    @media(max-width: 767px) {
        display: grid;
    }
}

.portfolio-inner .mix {
    display: none;
    padding: 0px;
    z-index: 2;

}

ul.portfolio {
    padding: 0px 10px;
    list-style: none;
    margin-left: 8px;
    text-align: center;
    border-radius: 4px;
    background-color: #4c9cef;

}

ul.portfolio li {
    display: inline-block;
    padding: 8px 12px;
    margin: 2px 8px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 13px;

}

ul.portfolio li:hover {
    color: #656464;
    border: none;
}

ul.portfolio li.active {
    color: #ffffff;
    background-color: #b8f012bd;
    padding: 5px 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
}


.portfolio .item {
    position: relative;
    margin: 15px;
    border-radius: 12px;
    border: 4px outset rgba(255, 108, 2, 0.5);
    height: 150px;
    width: 380px;
    box-shadow: 0px 0px 25px 3px rgba(232, 240, 4, 0.2);
    display: flex;
    flex-direction: column;

    @media(max-width:500px) {
        width: auto;
    }
}

.portfolio .item:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 35px -5px rgba(232, 240, 4, 0.6);
    transition: .3s;
}

.portfolio-card {
    height: 100px;
    width: 100%;
}





.portfolio-title {
    height: 80px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: rgb(100, 0, 0);
    font-family: var(--textFont3);
    font-weight: bold;

    @media(max-width: 500px) {
        font-size: 14px;
    }

}

.item {
    -webkit-transition: .3s;
    transition: .8s;
}

.vjs-control-bar {
    border-radius: 30px;

}

.video-js {
    width: 90%;
    max-height: 300px;
    max-width: 90%;
    border-radius: 15px;

    @media(max-width:1000px) {
        max-height: 280px;
    }

    @media((min-width: 680px) and (max-width:1000px)) {
        max-height: 260px;
    }

    @media((min-width: 505px) and (max-width:680px)) {
        max-height: 180px;
    }

    @media((max-width: 505px)) {
        max-height: 110px;
    }
}

#video-container {
    display: none;
}


.portfolio .item:hover a:before {
    top: 40%;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.portfolio .item a:before {
    content: "\f06e";
    font-family: var(--linkFont);
    text-align: center;
    color: #ffffff;
    position: absolute;
    font-size: 25px;
    top: 2%;
    opacity: 0;
    left: 0%;
    right: 0%;
    background-color: #6397f7;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    margin: 0 auto;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}





.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    margin-top: 50px;
    font-size: 40px;
    background-color: #f7639a;
    width: 50px;
    right: 10px;
    height: 50px;
    border-radius: 50%;
    padding-right: 13px;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: inherit;
}




/* Testimonial */

.testimonial-section {
    /* background-image: var(--sertificateBG); */
    background-color: rgb(255, 248, 236);
    background-size: cover;
    background-repeat: no-repeat;

}

.testimonial-carousel-list {
    padding: 30px;
    margin-bottom: 30px;
    background-color: #f994063b;
    border-radius: 4px;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.25);
    transition: all 0.3s ease-in-out;
    width: 80%;
}

.testimonial-word img {
    margin: 15px auto;
    height: 350px;
    width: 60%;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    box-shadow: 5px 5px 22px 0px rgba(89, 27, 1, 0.5);
}



@media (max-width: 1200px) {
    .testimonial-word img {
        height: 300px;
        width: 70%;
    }
}

@media (max-width: 800px) {
    .testimonial-word img {
        height: 200px;
        width: 70%;
    }
}



.documents {
    display: flex;
    justify-content: center;
}



.testimonial-word h1 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: darkorange;
    font-weight: 700;
    letter-spacing: 4px;
    margin: 20px 0px;

    @media (max-width: 1200px) {
        font-size: 16px;
    }
}

.testimonial-word h4 {
    text-align: center;
    line-height: 140%;
    font-size: 16px;

    @media (max-width: 1200px) {
        font-size: 12px;
    }
}


@media (min-width: 1200px) and (max-width: 1620px) {

    .modal-dialog,
    .spaceDevModal {
        margin-top: 5%;
    }
}



.owl-navi {
    color: #e1eaff;
}

.owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    margin: 5px;
    margin-top: -32px;
    padding: 7px 13px;
    background-color: transparent;
    opacity: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    line-height: 60px;
    background-color: #f48803;
    transition: all 0.3s ease-in-out;
}

.owl-theme .owl-controls .owl-buttons div:hover {
    background-color: rgb(255, 184, 43);
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    padding: 5px;
    margin: 0;
    z-index: 100;
    cursor: pointer;
}

.owl-prev {
    left: -40px;
}

.owl-next {
    right: -40px;
}



/* Statistics */

.statistics-section {
    background: url(../images/bg/statistics.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.statistics {
    padding: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.statistics.block .statistics-icon,
.statistics.block .statistics-content {
    width: auto;
    float: none;
    text-align: center;
}

.statistics-icon {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

.statistics-content {
    text-align: center;
    margin-top: 25px;
    color: #ffffff;
}

.statistics-content>h5 {
    font-size: 34px;
    margin-top: 0;
}

.statistics-content>span {
    display: block;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
}



/* Services */

.services {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    max-width: 1000px;
}

.services .services-detail {
    margin: 20px;
    position: relative;
    /* Обязательно добавьте это, чтобы псевдоэлементы имели базовый элемент для относительного позиционирования */
}

.services .services-detail::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px inset rgba(244, 100, 4, 0.6);
    border-radius: 50%;
}

.services .services-detail::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 50%;
    border: 3px outset rgba(255, 154, 2, 0.8);
}

.services-section {
    background-color: #710505;
    /* background-image: var(--servicesBG); */
    background-color: rgb(255, 248, 236);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.services-detail>img {
    width: 50px;
    margin-top: 30px;
    display: inline-block;
    vertical-align: middle;
}

.services-section .weak-service {
    background: linear-gradient(-45deg, gray, rgb(194, 193, 193)) !important;
}

.weak-service>h3 {
    color: gray !important;
}


.services-section .services-detail {
    border-radius: 100%;
    background: linear-gradient(150deg, #ffe69ad2, #ff9101);
    box-shadow: 3px 6px 10px 0px rgba(51, 68, 0, 0.58);
    transition: all 0.3s ease-in-out;
    position: relative;
    width: 140px;
    height: 140px;
    text-align: center;
    transition: 1s;
}


@media(max-width:580px) {
    .services-section .services-detail {

        width: 90px !important;
        height: 90px !important;
    }

    .services-detail>img {
        width: 30px;
        margin-top: 15px;
    }

    .services-detail>h3 {
        font-size: 8px !important;
        margin: 0;
    }
}


.services-section .services-detail:hover {
    box-shadow: 0px 0px 40px 10px rgba(191, 255, 0, 0.464);
    background-color: #f6da07a0;
    transform: scale(1.1);
    transition: 0.3s;
    border: 3px outset rgba(240, 236, 2, 0.9);
}



.services-detail>h3 {
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;
    color: var(--textColorDark);
}


/* Call to Action */

.call-to-action {
    background: var(--contactsBG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.call-to-action h2 {
    font-size: 30px;
    color: #ffffff;
}



/* Contact Us */

.contact-us {
    padding: 50px;
    background-color: #ffffff;
    box-shadow: -2px 40px 34px -24px rgba(0, 0, 0, 0.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 7px #4c9cef;
    border-left-color: #f7639a;
    border-right-color: #f7639a;
}

.contact-us-detail {
    position: absolute;
    left: 83%;
    top: -4%;
    background-color: #4c9cef;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
}

.contact-us-detail:hover {
    background-color: #f7639a;
}

.contact-us-detail a {
    color: #ffffff;
}

.contact-us-detail a:hover {
    color: #ffffff;
}

.form-group {
    margin-bottom: 25px;
}

.form-control {
    border: 2px solid transparent;
    height: 50px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -webkit-transition: all 150ms ease-in-out 0s;
    -moz-transition: all 150ms ease-in-out 0s;
    -ms-transition: all 150ms ease-in-out 0s;
    -o-transition: all 150ms ease-in-out 0s;
    transition: all 150ms ease-in-out 0s;
}

.form-control:focus {
    border-color: #171717;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: #4c9cef;
    border-width: 2px;
}



/* Social Icons */

.social-icon {
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: center;
}



.social-icon:before,
.social-icon:after {
    content: " ";
    display: table;
}

.social-icon:after {
    clear: both;
}

.social-icon li {
    display: inline-block;
    margin: 2px 4px;
}

.social-icon li img {
    display: block;
    width: 55px;
    height: 55px;
    line-height: 66px;
    text-align: center;
    border-radius: 30%;
    font-size: 27px;
    box-shadow: 0px 0px 30px 0px #dde5033f;
    transition: all 1s;

    background-color: #d2d0d05f;
    margin: 2px;
    border: 2px outset rgba(175, 175, 175, 0.3);
}

.social-icon img:hover {
    box-shadow: 0px 0px 20px 10px #dde503a3;
    transition: all 0.2s;

    transform: scale(1.15);

    /* При необходимости, установите нужный вам размер шрифта */
}





/* Footer */

body {
    background-image: var(--footerBG);
    background-color: rgb(255, 248, 236);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer-section {

    padding: 15px 0px;
    color: #f8f8f8;
    height: 70px;
    position: relative;
}


.footer-section p {
    font-size: 14px;
}



/* Scroll To Top */

.scroll-to-top {
    background-color: #4c9cef;
    display: none;
    width: 60px;
    height: 60px;
    font-size: 25px;
    border-radius: 100%;
    line-height: 67px;
    text-align: center;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 999;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
    background-color: #f7639a;
    color: #ffffff;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
}



/* Responsive */

@media only screen and (max-width: 1199px) {
    .experience-circle i {
        font-size: 30px;
    }

    .experience-content {
        margin-left: 75px;
    }


    .experience-content:after,
    .experience-content:before {
        top: 30%;
    }
}


@media only screen and (min-width: 767px) and (max-width: 991px) {
    .navigation-menu .navbar-nav li a {
        padding: 30px 11px;
        font-size: 12px;
    }

    .navigation-background .navigation-menu .navbar-nav li a {
        padding: 30px 11px;
        font-size: 12px;
    }

    .navigation-background .logo {
        padding-top: 28px;
    }

    .margin-left-setting {
        margin-left: 0px !important;
    }
}


@media only screen and (max-width: 991px) {
    .call-to-action h2 {
        font-size: 20px;
    }
}


@media only screen and (max-width: 767px) {
    .navbar-toggle .icon-bar {
        background: #f7639a;
    }

    .navigation-background .navbar-toggle .icon-bar {
        background: #ffffff;
    }

    .navbar-toggle {
        margin-right: 0px;
        margin-top: -30px;
    }

    .navbar {
        min-height: 0px;
    }

    .navigation-menu .navbar-nav li a {
        padding: 11px 15px;
        color: #ffffff;
    }

    .navigation-menu .navbar-nav li a:hover {
        color: #ffffff;
    }

    .navigation-background .navigation-menu .navbar-nav li a:hover {
        color: #ffffff;
    }

    .navigation-background .navigation-menu .navbar-nav li a {
        padding: 11px 15px;
    }

    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 420px;
    }

    .navbar-toggle {
        margin-top: -30px;
    }

    .navbar-collapse {
        background: #0a2a4d;
        width: 250px;
        position: absolute;
        right: 0;
    }

    .nav li {
        transition: 0.3s;
    }
}

.nav li:hover {
    background-color: rgba(255, 255, 0, 0.15);
    border-radius: 4px;
    transition: 0.5s;
}



.section-title h2 {
    font-size: 22px;
}

.testimonial-word {
    padding: 0;
}

.testimonial-carousel-list {
    margin-top: 0px;
}

.call-to-action h2 {
    font-size: 18px;
    line-height: 35px;
}

.contact-us-detail {
    left: 39%;
}

.owl-prev {
    left: 5px;
}

.owl-next {
    right: 5px;
}

.scroll-to-top {
    width: 45px !important;
    height: 45px !important;
    font-size: 20px !important;
    line-height: 52px !important;
    right: 8px !important;
    bottom: 15px !important;
}


@media only screen and (max-width: 555px) {
    .social-icon li a {
        width: 40px;
        height: 40px;
        line-height: 44px;
        font-size: 16px;
    }

    .section-title h2 {
        font-size: 16px;
        font-weight: 500;
    }

    .section-title p {
        font-weight: 300;
        font-size: 12px;
    }

    .statistics-content>h5 {
        font-size: 20px;
    }

    .statistics-content>span {
        font-size: 10px;
    }

    .statistics-icon {
        font-size: 30px;
    }

    .services-section hr {
        width: 35px;
    }

    .services-section h3 {
        font-size: 12px;
    }

    .services-section .services-detail {
        width: 180px;
        height: 180px;
    }

    .services-section .services-detail i {
        font-size: 30px;
        margin-top: 45px;
    }

    .owl-theme .owl-controls .owl-buttons div {
        padding: 6px 10px;
        width: 40px;
        height: 40px;
        line-height: 36px;
        font-size: 8px;
    }

    .contact-us-detail {
        left: 30%;
    }
}


@media only screen and (max-width: 500px) {
    .experience {
        margin-left: 0px;
        border: 0px;
    }

    .experience-circle {
        margin: 0 auto;
        position: static;
        margin-bottom: 20px;
    }

    .experience-content {
        padding: 10px 15px;
        margin-left: 0px;
    }

    .experience-content:after,
    .experience-content:before {
        display: none;
    }
}


@media only screen and (max-width: 449px) {
    .button {
        font-size: 13px;
        padding: 14px 28px;
        font-weight: 600;
    }

    .contact-us-detail {
        left: 25%;
    }
}



/* Useful Classes */


/* Spacing ( with Margin and Padding ) */

/* Margin */

.margin-0 {
    margin: 0px !important;
}

/* Margin Top */

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-top-60 {
    margin-top: 60px !important;
}

.margin-top-70 {
    margin-top: 70px !important;
}

.margin-top-80 {
    margin-top: 80px !important;
}

.margin-top-90 {
    margin-top: 90px !important;
}

.margin-top-100 {
    margin-top: 100px !important;
}

.margin-top-120 {
    margin-top: 120px !important;
}

.margin-top-150 {
    margin-top: 150px !important;
}

.margin-top-200 {
    margin-top: 200px !important;
}


/* Margin Bottom */

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-bottom-60 {
    margin-bottom: 60px !important;
}

.margin-bottom-70 {
    margin-bottom: 70px !important;
}

.margin-bottom-80 {
    margin-bottom: 80px !important;
}

.margin-bottom-90 {
    margin-bottom: 90px !important;
}

.margin-bottom-100 {
    margin-bottom: 100px !important;
}

.margin-bottom-120 {
    margin-bottom: 120px !important;
}

.margin-bottom-150 {
    margin-bottom: 150px !important;
}

.margin-bottom-200 {
    margin-bottom: 200px !important;
}



/* Padding */

.padding-0 {
    padding: 0px !important;
}


/* Padding Top */

.padding-top-0 {
    padding-top: 0px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-top-40 {
    padding-top: 40px !important;
}

.padding-top-50 {
    padding-top: 50px !important;
}

.padding-top-60 {
    padding-top: 60px !important;
}

.padding-top-70 {
    padding-top: 70px !important;
}

.padding-top-80 {
    padding-top: 80px !important;
}

.padding-top-90 {
    padding-top: 90px !important;
}

.padding-top-100 {
    padding-top: 100px !important;
}

.padding-top-120 {
    padding-top: 120px !important;
}

.padding-top-150 {
    padding-top: 150px !important;
}

.padding-top-200 {
    padding-top: 200px !important;
}


/* Padding Bottom */

.padding-bottom-0 {
    padding-bottom: 0px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-40 {
    padding-bottom: 40px !important;
}

.padding-bottom-50 {
    padding-bottom: 50px !important;
}

.padding-bottom-60 {
    padding-bottom: 60px !important;
}

.padding-bottom-70 {
    padding-bottom: 70px !important;
}

.padding-bottom-80 {
    padding-bottom: 80px !important;
}

.padding-bottom-90 {
    padding-bottom: 90px !important;
}

.padding-bottom-100 {
    padding-bottom: 100px !important;
}

.padding-bottom-120 {
    padding-bottom: 120px !important;
}

.padding-bottom-150 {
    padding-bottom: 150px !important;
}

.padding-bottom-200 {
    padding-bottom: 200px !important;
}



/* Colors */

.color-1 {
    color: #f306a0;
}

.color-2 {
    color: #d60bfb;
}

.color-3 {
    color: #d8be10;
}

.color-4 {
    color: #0fd28a;
}

.color-5 {
    color: #f97400;
}

.color-6 {
    color: #08a6f3;
}



/* Background Color */

.bg-color-1 {
    background-color: #f306a0;
}

.bg-color-2 {
    background-color: #d60bfb;
}

.bg-color-3 {
    background-color: #d8be10;
}

.bg-color-4 {
    background-color: #0fd28a;
}

.bg-color-5 {
    background-color: #f97400;
}

.bg-color-6 {
    background-color: #08a6f3;
}



/* Tooltip Styles */

.tooltip-inner {
    font-style: italic;
    padding: 10px 12px;
    min-width: 150px;
    width: 100%;
}

.tooltip.top {
    margin-top: -15px;
}

.tooltip.bottom {
    margin-top: 15px;
    bottom: auto;
    left: auto;
    right: auto;
}

.tooltip.left {
    margin-right: 15px;
}

.tooltip.right {
    margin-left: 15px;
}

.tooltip-color .tooltip-inner {
    color: #fff;
}



/* UiPasta Credit */

.uipasta-credit {
    color: #333333;
    text-align: center;
}

.uipasta-credit a {
    color: #4c9cef;
    font-weight: 600;
}

.uipasta-credit a:hover {
    color: #f7639a;
}

.contacts {
    display: flex;
    justify-content: center;
    padding: 30px 50px;
}

.hiddingContacts {
    background-image: var(--contactsBG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}





.myGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 1fr auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}


.grid-title {
    grid-area: 1 / 1 / 2 / 4;
}

.grid-video-buttons {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: center;
}

.grid-video-buttons button,
.grid-video-buttons a {
    margin: 0 10px;
}

.grid-desc {
    grid-area: 3 / 1 / 4 / 3;
}


.grid-app-buttons {
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    justify-content: center;
}

.grid-app-buttons button,
.grid-app-buttons a {
    margin: 0 15px;
}



.grid-desc p {
    line-height: normal;
    font-size: 18px;
    text-align: start;

    @media(max-width:700px) {
        font-size: 12px;
    }

    @media(max-width:1000px) {
        font-size: 14px;
    }

    @media(max-width:1400px) {
        font-size: 16px;
    }
}

.grid-desc img {
    float: right;
    min-width: 180px;
    width: 40%;
    margin: 0 15px 5px 0;
    border-radius: 10px;
    border: 3px rgba(128, 128, 128, 0.2) inset;
    box-shadow: 0px 6px 14px 0px rgba(90, 91, 95, 0.3);

}


.grid-title h2 {
    font-size: 30px;
}

@media(max-width:1400px) {
    .grid-title h2 {
        font-size: 25px;
    }

    .grid-desc p {
        font-size: 14px;
    }
}

@media(max-width:1000px) {
    .grid-title h2 {
        font-size: 22px;
    }

    .grid-desc p {
        font-size: 12px;
    }

    .myGrid button {
        font-size: 14px;
    }

}

@media(max-width:700px) {
    .grid-title h2 {
        font-size: 18px;
    }

    .grid-desc p {
        font-size: 10px;
    }

}

@media(max-width:420px) {
    .grid-title h2 {
        font-size: 14px;
    }

    .grid-desc p {
        font-size: 8px;
    }

    .myGrid button {
        font-size: 10px !important;
    }
}



/* Отображение видео внутри модального окна */
.modal-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
}


.project-icon {
    position: absolute;
    bottom: 4%;
    right: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.project-icon img {
    width: 43px !important;
    height: 43px;
    padding: 4px;
    border-radius: 6px !important;
    object-fit: cover;
    background-color: #d2d0d05f;
    margin: 2px;
    border: 2px outset rgba(175, 175, 175, 0.3);
    transition: 1s;

    @media(max-width:767px) {
        width: 34px !important;
        height: 34px;
    }
}

.project-icon img:hover {
    transform: scale(1.05);
    background-color: #f4efefb5;
    transition: 0.2s;
}

.buttonx {

    font-family: var(--buttonFont);
    font-weight: bold;
    width: auto;
    height: auto;
    color: var(--buttonColor);
    padding: 10px;
    background: linear-gradient(rgba(117, 1, 1, 0.8), rgba(55, 55, 54, 0.9));
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    border: 0;
    transition: 1s;
    border: 2px solid rgba(255, 132, 0, 0.7);
}

.buttonx:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.buttonx:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}



.buttonx:active:after {
    background: linear-gradient(rgba(117, 1, 1, 0.1), rgba(237, 193, 0, 0.1));


}

.buttonx:hover:before {
    opacity: 1;
}

.buttonx:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(254, 233, 169, 0.8), rgba(237, 193, 0, 0.9));
    left: 0;
    top: 0;
    border-radius: 10px;
}

.buttonx-orange {
    border: 5px outline rgb(229, 254, 5);
}

.buttonx-orange::after {

    background: linear-gradient(rgba(255, 102, 0, 0.8), rgba(250, 209, 5, 0.9));

}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-close {
    color: #801a35;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 15px;
    z-index: 1000;

    @media(max-width: 400px) {
        font-size: 16px;
        padding: 7px 10px;

    }
}

.home-table {
    display: flex;
    justify-content: end;
    width: 100%;
}

.titleBlock {
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: start;

}

.titleBlock button {
    font-size: 22px;
    margin: 0 30px 0 30px;
    padding: 15px;
    text-align: start;

    @media(max-width:600px) {
        font-size: 14px;
        padding: 7px;
    }
}

.subTitle {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 20px 20px 10px 20px;
    background-color: rgba(247, 124, 8, 0.15);
}

.subTitle h4 {
    font-family: var(--titleFont2);
    font-size: 25px;
    font-weight: bold;

    @media(max-width:1000px) {
        font-size: calc(4px + 2vw);
    }
}

.container {
    padding: 5px 0 15px 0;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    /* Расстояние между иконкой и текстом */
}

.social-ico-modal img {
    width: 24px;
    /* Размер иконки */
    height: 24px;
}


.hoverme {
    position: relative;
    display: inline-block;
    cursor: help;
}

.hoverme .hovertext {
    visibility: hidden;
    width: fit-content;
    height: fit-content;
    background: linear-gradient(135deg, #eca009a0, #f0a105);
    border: 2px outset rgba(255, 166, 0, 0.62);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 5px;
    position: absolute;
    z-index: 1000;
    bottom: 102%;
    left: 51%;
    margin-left: -60px;
    transition: 1s;

    opacity: 0;
}

.hoverme .h-down {
    bottom: -35px;
    left: 55px;
}

.hoverme:hover .hovertext {
    visibility: visible;
    opacity: 1;
    transition: 0.4s;
}

.lightBG {
    background: linear-gradient(25deg,
            rgb(230, 250, 200),
            rgb(255, 236, 220),
            rgb(240, 250, 220),
            rgb(250, 250, 250));
    background-image: var(--lightBG);
}

.carousel-2 .owl-item {
    padding: 10px 0 30px 0;
}
.carousel-2 .owl-pic  {
    background: #000;
    margin: 40px 0;
    border: 5px solid #000;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    transition: all 0.4s ease;
    height: 240px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.3), 0 16px 20px rgba(0,0,0,0.2);
}
.carousel-2 .owl-item.center .owl-pic {
    opacity: 1;
    border: 8px solid #BFE2FF;
    margin: 0 0 0 -15%;
    width: 130%;
    height: 320px;
}
.carousel-2 .owl-item.center + .owl-item {
    position: relative;
    z-index: -1;
}
.carousel-2 .owl-pic img {
    width: 100%;
    height: 100%;
    transition: 0.3s opacity ease, 0.3s transform ease;
    opacity: 0.6;
    object-fit: cover;
}
.carousel-2 .owl-item .owl-pic:hover img,
.carousel-2 .owl-item.center .owl-pic img {
    opacity: 1;
}
.carousel-2 .owl-nav .owl-prev,
.carousel-2 .owl-nav .owl-next {
    position: absolute;
    cursor: pointer;
    font-size: 60px!important;
    color: #FFF!important;
    top: 0;
    height: 100%;
    width: 70px;
    transition: 0.3s opacity ease;
    opacity: 0.6;
    margin: 0;
    padding: 0;
}
.carousel-2 .owl-nav .owl-prev:hover,
.carousel-2 .owl-nav .owl-next:hover {
    opacity: 1;
}
.carousel-2 .owl-nav .owl-prev,
.carousel-2 .owl-nav .owl-prev:hover {
    left: 0;
}
.carousel-2 .owl-nav .owl-next,
.carousel-2 .owl-nav .owl-next:hover {
    right: 0;
}