.test {
    background-color: yellow;
    margin: 0;
    width: 100%;
}

.carousel {
    height: 400px !important;
    overflow: hidden;
}


.carousel-inner img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}



.test2 img {
    background-color: red;
    margin: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

body {
    background-color: antiquewhite;
}

.navbar {
    padding: 0;
    color: red;
}
.navbar-expand {
    color: red;
}